/* PHASE 5: Cats */

.content-header {
  background-image: url("../images/cats.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  border-bottom: 1px solid silver;
  position: relative;
}

.content-header h1, button {
  position: absolute;
  bottom: 20px;
}

.content-header h1 {
  left: 240px;
  color: white;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.95);
}

.content-header button {
  text-align: right;
  right: 20px;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid black;
  padding: 10px 20px;
}
